
.container{
    text-align: center;
    margin-bottom: 20px;
}
.wrapper {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-gap: 10px;
    background-color: #fff;
    width: 800px;
    text-align: center;
    
    
    margin: auto;
  }
  
  .box {
    border-radius: 5px;
    padding: 10px;
  }

  h1{
      font-size: 30px;
      font-weight: bold;
      color: blue;
  }
  
  h2{
      font-size: 24px;
      font-weight: bold;
  }

  h3{
      color: red;
      padding: 10px;
  }

  h4{
      color: green;
      padding: 10px;
  }

  p{
      padding: 10px;
  }